.header {
  padding: 0 0 0.18px;
  background-image: url('./bg.png');
}

.indian-rest {
  height: 4.86%;
  width: 28.27%;
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 13px;
  top: 21px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  color: var(--coral);
}
.indian-rest-emphasis-1 {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
}
.menu {
  height: 3.64%;
  width: 7.39%;
  font-family: "Roboto";
  font-size: 8px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  right: 133.09px;
  top: 21px;
}
.home {
  height: 3.64%;
  width: 7.31%;
  font-family: "Roboto";
  font-size: 8px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  right: 165.57px;
  top: 21px;
}
.menu-two {
  width: 10.13%;
  height: 4.86%;
  position: absolute;
  right: 89.79px;
  top: 20px;
}
.location {
  height: 118.18%;
  width: 107.89%;
  font-family: "Roboto";
  font-size: 8px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: -1px;
}
.contact {
  height: 6.19%;
  width: 10.67%;
  font-family: "Roboto";
  font-size: 8px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  right: 44px;
  top: 18px;
}
.menu-three {
  width: 7.17%;
  height: 3.76%;
  position: absolute;
  right: 13.12px;
  top: 22px;
}
.about {
  height: 100%;
  width: 100%;
  font-family: "Roboto";
  font-size: 8px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 0.79px;
  top: -1px;
}
.inspired-thai-cusine {
  height: 49.03%;
  width: 45.62%;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  right: 95.04px;
  bottom: 56.38px;
}
.voted-new-delhi-best-resturants {
  height: 16.79%;
  width: 66.67%;
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  right: 52px;
  bottom: 15.3px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: var(--white);
}
